@model AudioRimacPlayer.ViewModel.PlayerViewModel

@using AudioRimacPlayer.ViewModel
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}
<div id="buttons-searching">
    @Html.Partial("_ButtonToSwitch")

</div>


<div id="update">
    
    
    @Html.Action("RenderParialView")
</div>
@Html.Partial("_Loading")

@section scripts
{
    <script>
        function HideResults() {

            $(".song").hide("blind", 600);
            $("#error").hide("blind", 600);

        }

        function ShowResults() {
            $(".song").css({ "display": "none" });
            $(".song").slideUp(1);
            $(".song").slideDown(1200);
            $("#error").css({ "display": "none" });

            $("#error").slideUp(1);
            $("#error").slideDown(1200);
            $(".song ").hover(
                function () {

                    $(this).css({ "background-color": "#5d5c5c", "border-bottom": "2px solid white" });
                    $(this).children(".song-date").find(".song-date-title").css({ "font-size": "20px" });
                    $(this).children(".song-date").find(".song-date-artist")
                        .css({ "font-size": "21px", "color": "#1073fc" });
                    $(this).children(".song-image").find("img")
                        .css({ "margin-left": "3px", "margin-bottom": "3px", "margin-top": "0px" });

                },
                function () {
                    $(this).css({ "background-color": "#323131", "border-bottom": "2px solid #979797" });
                    $(this).children(".song-date").find(".song-date-title").css({ "font-size": "19px" });
                    $(this).children(".song-date").find(".song-date-artist")
                        .css({ "font-size": "20px", "color": "#4694ff" });
                    $(this).children(".song-image").find("img")
                        .css({ "margin-left": "0px", "margin-bottom": "0px", "margin-top": "3px" });


                }
            );
        }
        function ShowError() {
            $(".row").slideUp(1);
            $(".row").slideDown(1200);

        }

        $("#button-song").click(function () {
            if ($("#button-song").hasClass("searching-button")) {
                $('#button-song,#button-artist').toggleClass('searching-button searching-button-click');

            }
        });

        $("#button-artist").click(function () {
            if ($("#button-artist").hasClass("searching-button")) {
                $('#button-artist,#button-song').toggleClass('searching-button searching-button-click');

            }
        });
    </script>

}
