
@{

    Layout = "~/Views/Shared/Mobile.cshtml";
}

<div id="update">
    <form id="searching" action="#">

        <input id="searchText" style="color:black" name="search" type="text" />
        <button id="btn-submit" class="btn btn-primary btn-sm " type="button" onclick="Load()">Szukaj</button>

    </form>

    <div class="row">
        <div class="col-xs-1 col-lg-4"></div>

        <div id="songs-items" class="col-xs-10 col-lg-4">


        </div>
        <div class="col-xs-1 col-lg-4"></div>


    </div>



</div>

@section scripts{
   
<script src="~/Scripts/player/Songs.js"></script>

}